[pylint]
ignore=
	resources.py,
disable=
	import-error,
	missing-module-docstring,
	missing-function-docstring,
	missing-class-docstring,
	unused-argument,
	broad-except,
	import-outside-toplevel,
	too-many-lines,
	line-too-long,
	R
extension-pkg-whitelist=jq
[BASIC]
good-names=i,j,k,x,x0,y,y0,x1,y1,_,op,ip,ui,jq,fn,xy